# --------------------
# Virtual environments
# --------------------
venv/
.env/
.env*/
.venv/

# --------------------
# Python cache
# --------------------
__pycache__/
*.pyc
*.pyo

# --------------------
# Data folders
# --------------------
data/
data_p1/
archive/

# --------------------
# Jupyter
# --------------------
.ipynb_checkpoints/

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db
